{
  "compact": true,
  "presets": [
    "babel-preset-env",
    "babel-preset-react"
  ],
  "plugins": [
    [
      "transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-async-to-generator",
    "react-require",
    "transform-object-rest-spread",
    "transform-react-jsx",
  ]
}
