{
  "compact": true,
  "presets": [
    [
      "@babel/env",
      {
        "loose": false,
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs"
          }
        ],
        "@babel/react"
      ]
    }
  }
}
